In [1]:
#print formation

In [2]:
print('hello')

hello

In [5]:
#Lines and Indentation
if True:
    print("True")
else:
    print("False")

True

In [15]:
#Multi-line statements(line continutation character(\))
item_one='sunday'
item_two='monday'
item_three='tuesday'
total = item_one + \
        item_two + \
        item_three

In [16]:
total

'sundaymondaytuesday'

In [17]:
days=['monday','tuesday']

In [18]:
days

['monday', 'tuesday']

In [2]:
#quotation(#=single line quotation)
#print('a')
print('hello')

hello

In [3]:
#multilinequotation('''or""")
'''print('b')
print('hello')'''
print('guys')

guys

In [4]:
#\ncreatw aline before display
input("\n\nPRESS the key")

PRESS the key

''

In [8]:
#Variables
myint=7
print(myint)

7

In [9]:
myfloat=8
print(myfloat)

8

In [10]:
myString='sagar'
print(myString)

sagar

In [11]:
one=1
two=2
three=one + two
print(three)

3

In [17]:
a="hello"
b="world"
ab=a+" " +b
print(ab)

hello world

Multiple asignment

In [18]:
a=b=c=1
print(a,b,c)

1 1 1

In [20]:
a,b,c=1,'4a','sagar'
print(a,b,c)

1 4a sagar