In [5]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [8]:
l.append(5)
l.insert(1,'ram')
l

[1, 'ram', 2, 3, 4, 5, 5]

# Operation

In [10]:
a=2+3*8/4
a

8.0

In [11]:
rem= 11%3
rem

2

In [13]:
squared = 7 ** 2
cubed = 2 **3
print(squared)
cubed

49

8

In [14]:
#concatenation
helloworld="hello"+ " "+"world"
print(helloworld)

hello world

In [16]:
#multiply string
hel='hell'*10
hel

'hellhellhellhellhellhellhellhellhellhell'

In [18]:
#operators with list
even_num =[2,3,4,5]
odd_num=[1,3,5,7]
allnum=even_num+odd_num
allnum

[2, 3, 4, 5, 1, 3, 5, 7]

In [19]:
#repeatation list
print([1,2,3]*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
s = "Heytherewhatshouldthisstringbe?"
len(s)

32

# CONDITIONS

In [22]:
#bollean value
x = 2
x == 2#(comparison value)

True

In [23]:
x == 3

False

In [24]:
x<3

True

In [25]:
x>3

False

In [30]:
#boolean operator (And or)
name='sagar'
age=23
if name == "sagar" and age == 23:
    print("your name is %s, and you are %d years old"%(name,age))
else:
    print("blank")
if name =="john" or name == "rick":
    print("your name is either john or rick")

your name is sagar, and you are 23 years old

In [31]:
#in operator
name = "john"
if name in ["john","Rick"]:
    print("your name is either john or rick")

your name is either john or rick

In [32]:
a = 2
if a == 2:
    print("a is equal to 2")
else:
    print("a is not equal to 2")

a is equal to 2

In [33]:
#is operator ("==",is operator doesont match the value of the variable but the instance themselves)
x=[1,2,3]
y=[1,2,3]
print(x==y)#True
print(x is y)#False

True
False

In [34]:
#not operator

a=not False
a

True

In [35]:
l=[0,1]
len(l)

2